<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            font-size: 20px
        }
    </style>
</head>
</head>
<body>
<div th:insert="~{logout :: logout}"></div>
<div th:insert="~{startline :: start}"></div>
<h1>Оформить заказ:</h1>
<div th:if="${not #lists.isEmpty(technics)}">
<form action="/store/ordering" method="post">
    <p th:each="technic : ${technics}">
    <img th:if="${technic.image}"
         th:src="@{/api/v1/store/{id}/avatar(id=${technic.id})}"
         alt="Product image">
    <a th:href="@{'/store/' + ${technic.category} + '/' + ${technic.id}}" th:text="|${technic.name}|">Technic</a>
    <strong style="font-size: 25px" th:text="|&emsp;&emsp;${technic.price}$|">price</strong>
        <label style="float: right"  for="amount">Колличество:
            <input id="amount" name="amount" type="number" min="1" th:max="${technic.amount}" value="1">&emsp;&emsp;&emsp;&emsp;
        </label>
    </p>
    <button type="submit">Подтвердить</button>
</form>
</div>
</body>
</html>