<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <style>
        .but {
            border: 0px;
        }

        .tab {
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<div th:insert="~{logout :: logout}"></div>
<div th:insert="~{startline :: start}"></div>
<h1><span th:text="|#{page.processing.h}:|">Orders</span></h1>
<table border="1px" class="tab">
    <tr>
        <th width="50"><span th:text="#{completed.number}">Number</span></th>
        <th width="590"><span th:text="#{completed.product}">Order</span></th>
        <th width="80"><span th:text="#{completed.date}">Date</span></th>
        <th width="80"><span th:text="#{completed.data.close}">Date</span></th>
        <th width="120"><span th:text="#{completed.status}">Status</span></th>
        <th width="60"><span th:text="#{completed.price}">Price</span></th>
        <th width="100"><span th:text="#{completed.customer}">Customer</span></th>
    </tr>
    <tr th:each="order : ${orders}" th:if="${order.status eq 'PROCESSING'}">
        <td width="50" th:text="${order.id}">Id</td>
        <td width="600" th:text="${order.product}">Product</td>
        <td width="80" th:text="${order.dateRegistration}">Date</td>
        <td width="80">
                <span th:if="${order.dateClose ne '1900-01-01'}" th:text="${order.dateClose}">
                    Date
                </span>
        </td>
        <td width="120"><span th:text="#{orders.processing}">Processing</span></td>
        <td width="60" th:text="|${order.total}$|">Price</td>
        <td width="100">
            <a th:href="@{/store/admin/users/{id}(id=${order.user.id})}">
                <span th:text="${order.user.email}">User</span>
            </a>
        </td>
        <td class="but">
            <form th:action="@{/store/admin/orders/processing/{id}/accept(id=${order.id})}" method="post">
                <button type="submit"><span th:text="#{processing.accept}">Accept</span></button>
            </form>
        </td>
        <td class="but">
            <form th:action="@{/store/admin/orders/processing/{id}/reject(id=${order.id})}" method="post">
                <button type="submit"><span th:text="#{processing.reject}">Reject</span></button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>