<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PageAdmin</title>
    <style>
        p {
            font-size: 25px;
        }
    </style>
</head>
<body>
<div th:insert="~{logout :: logout}"></div>
<div th:insert="~{startline :: start}"></div>
<h1><span th:text="|#{admin.h}:|">Page</span></h1>
<a href="admin/add">
    <p><span th:text="#{add.h}">Add</span></p>
</a>
<a href="admin/users">
    <p><span th:text="#{admin.users}">Users</span></p>
</a>
<a href="admin/orders">
    <p><span th:text="#{admin.orders}">Orders</span></p>
</a>
<a href="admin/orders/processing">
    <p><span th:text="#{admin.processing}">Orders</span></p>
</a>
<a href="admin/orders/completed">
    <p><span th:text="#{admin.completed}">Orders</span></p>
</a>
</body>
</html>