<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OnlineStore</title>
    <style>
        body {line-height: 1.5}
    </style>
</head>
<body>
<form >
    <label for="email">Эл почта:
        <input id="email" type="text" name="email">
    </label><br>
    <label for="password">Пароль:
        <input id="password" type="password" name="password">
    </label><br>
    <button type="submit">Вход</button>
</form>
<form action="/store/registration">
    <button type="submit">Регистрация</button>
</form>
</body>
</html>