<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OnlineStore</title>
    <style>
        body {line-height: 1.5}
    </style>
</head>
<body>
<form action="/login" method="post">
    <div style="color: red" th:if="${param.error}">Неверно</div>
    <label for="username">Эл почта:
        <input id="username" type="text" name="username">
    </label><br>
    <label for="password">Пароль:
        <input id="password" type="password" name="password">
    </label><br>
    <button type="submit">Вход</button>
</form>
<form action="/store/registration">
    <button type="submit">Регистрация</button>
</form>
</body>
</html>