<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OnlineStore</title>
    <style>
        body {line-height: 1.5}
    </style>
</head>
<body>
<form th:action="@{/login}" method="post">
    <div style="color: red" th:if="${param.error}">Неверно</div>
    <label for="username">Эл почта:
        <input id="username" type="text" name="username">
    </label><br>
    <label for="password">Пароль:
        <input id="password" type="password" name="password">
    </label><br>
    <button type="submit">Вход</button>
</form>
<form action="/store/registration">
    <button type="submit">Регистрация</button>
</form>
<div>
    <div>Вход через:</div>
    <a href="/oauth2/authorization/google">
        <img src="https://play-lh.googleusercontent.com/aFWiT2lTa9CYBpyPjfgfNHd0r5puwKRGj2rHpdPTNrz2N9LXgN_MbLjePd1OTc0E8Rl1" alt="google" height="50" width="50">
    </a>
</div>
</body>
</html>