<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OnlineStore</title>
    <style>
        body {line-height: 1.5}
    </style>
</head>
<body>
<h3>Регистрация:</h3>
<form action="/store" method="post" th:object="${user}">
    <label for="firstname">Имя:
        <input id="firstname" type="text" name="firstname" th:value="${user.firstname}">
    </label><br>
    <label for="lastname">Фамилия:
        <input id="lastname" type="text" name="lastname" th:value="*{lastname}">
    </label><br>
    <label for="email">Эл почта:
        <input id="email" type="email" name="email" th:value="*{email}">
    </label><br>
    <label for="rawPassword">Пароль:
        <input id="rawPassword" type="password" name="rawPassword">
    </label><br>
    <label for="tel">Телефон:
        <input id="tel" type="tel" name="tel" th:value="*{tel}">
    </label><br>
    <label for="address">Адрес:
        <input id="address" type="text" name="address" th:value="*{address}">
    </label><br>
    <input type="radio" name="gender" th:value="${genders[0]}">Муж
    <br>
    <input type="radio" name="gender" th:value="${genders[1]}">Жен
    <br>
    <button type="submit">Отправить</button>
</form>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
</body>
</html>