<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OnlineStore</title>
    <style>
        body {line-height: 1.5}
    </style>
</head>
<body>
<h3><span th:text="|#{refrigeration.h}:|">Registration</span></h3>
<form th:action="@{/store/create}" method="post" th:object="${user}">
    <label for="firstname"><span th:text="|#{account.firstname}:|">Firstname:</span>
        <input id="firstname" type="text" name="firstname" th:value="${user.firstname}">
    </label><br>
    <label for="lastname"><span th:text="|#{account.lastname}:|">Lastname:</span>
        <input id="lastname" type="text" name="lastname" th:value="*{lastname}">
    </label><br>
    <label for="email"><span th:text="|#{account.email}:|">Email:</span>
        <input id="email" type="email" name="email" th:value="*{email}">
    </label><br>
    <label for="rawPassword"><span th:text="|#{account.password}:|">Password:</span>
        <input id="rawPassword" type="password" name="rawPassword">
    </label><br>
    <label for="tel"><span th:text="|#{account.tel}:|">Tel:</span>
        <input id="tel" type="tel" name="tel" th:value="*{tel}">
    </label><br>
    <label for="address"><span th:text="|#{account.address}:|">Address:</span>
        <input id="address" type="text" name="address" th:value="*{address}">
    </label><br>
    <input type="radio" name="gender" th:value="${genders[0]}">
    <span th:text="#{refrigeration.male}"></span>
    <br>
    <input type="radio" name="gender" th:value="${genders[1]}">
    <span th:text="#{refrigeration.female}"></span>
    <br>
    <button type="submit"><span th:text="#{refrigeration.button}">Send</span></button>
</form>
<div th:insert="~{logout :: locale}"></div>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
</body>
</html>