<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OnlineStore</title>
    <style>
        body {line-height: 1.5}
    </style>
</head>
<body>
<div th:insert="~{logout :: logout}"></div>
<div th:insert="~{startline :: start}"></div>
<h1><span th:text="|#{add.h}:|">Add</span></h1>
<form th:action="@{/store/admin/add/create}" enctype="multipart/form-data" method="post" th:object="${technic}">
    <label for="name"><span th:text="|#{add.name}:|">Name</span>
        <input id="name" type="text" name="name" th:value="*{name}">
    </label><br>
    <label for="category"><span th:text="|#{add.category}:|">Category</span>
        <select name="category" id="category">
            <option th:each="category : ${category}"
                    th:value="${category}"
                    th:selected="${category == technic.category}"
                    th:text="${category.name()}">Company
            </option>
        </select>
    </label><br>
    <label for="description"><span th:text="|#{add.description}:|">Description</span>
        <input id="description" type="text" name="description" th:value="*{description}">
    </label><br>
    <label for="price"><span th:text="|#{add.price}:|">Price</span>
        <input id="price" type="number" name="price" th:value="*{price}">
    </label><br>
    <label for="amount"><span th:text="|#{add.amount}:|">Amount</span>
        <input id="amount" type="number" name="amount" th:value="*{amount}">
    </label><br>
    <label for="image"><span th:text="|#{add.image}:|">Image</span>
        <input id="image" type="file" name="image">
    </label><br>
    <button type="submit"><span th:text="#{add.add}">Add</span></button>
</form>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
</body>
</html>