<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OnlineStore</title>
    <style>
        body {
            font-size: 25px
        }

        h1 {
            font-size: 40px;
            text-align: center;
        }

        ul {
            text-align: center;
            letter-spacing: 50px;
        }

        a {
            letter-spacing: 0;
            color: white;
            text-decoration: none;
        }

        .grad {
            background: linear-gradient(to right, darkorchid, crimson);
            padding: 10px;
        }
    </style>
</head>
<body>
<div th:insert="~{logout :: logout}"></div>
<h1><span th:text="|#{categories.h}:|">Store</span></h1>
<div th:insert="~{startline :: start}"></div>
<ul class="grad">
    <span th:each="category : ${categories}">
        <a th:if="${category eq 'PHONE'}" th:text="#{categories.phone}"
           th:href="@{'/store/' + ${category}}">Phone</a>
        <a th:if="${category eq 'REFRIGERATOR'}" th:text="#{categories.refrigerator}"
           th:href="@{'/store/' + ${category}}">Refrigerator</a>
        <a th:if="${category eq 'TV'}" th:text="#{categories.tv}"
           th:href="@{'/store/' + ${category}}">TV</a>
        <a th:if="${category eq 'COMPUTER'}" th:text="#{categories.computer}"
           th:href="@{'/store/' + ${category}}">Copmputers</a>
        <a th:if="${category eq 'LAPTOP'}" th:text="#{categories.laptop}"
           th:href="@{'/store/' + ${category}}">Laptop</a>
        <a th:if="${category eq 'CONSOLE'}" th:text="#{categories.console}"
           th:href="@{'/store/' + ${category}}">Console</a>
    </span>
</ul>
<img src="https://telsgroup.ru/upload/medialibrary/4c2/8odb4m6x7hl0663l8oip50sdl1xgm3qf.png" alt="">
<div th:insert="~{logout :: locale}"></div>
</body>
</html>