<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OnlineStore</title>
</head>
<body>
<div th:insert="~{logout :: logout}"></div>
<div th:insert="~{startline :: start}"></div>
<h1>Результаты поиска <span th:text="${param.search}">Text</span>:</h1>
<div th:if="${not #strings.isEmpty(param.search) and not #lists.isEmpty(technics)}" th:each="technic : ${technics}">
    <img th:src="@{/api/v1/store/{id}/avatar(id=${technic.id})}" alt="Product image">
    <a th:href="@{'/store/' + ${technic.category} + '/' + ${technic.id}}" th:text="|${technic.name}|">Technic</a>
</div>
<div th:if="${#strings.isEmpty(param.search)} or ${#lists.isEmpty(technics)}">
    <img src="https://5element.by/desktop/images/multi-search-empty.png" alt="image">
</div>
</body>
</html>