<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style th:fragment="logout">
        .btn {
            background: dodgerblue;
            color: white;
            padding: 5px 16px;
            border: 0px transparent;
            margin-bottom: 1em;
        }

        a {
            text-decoration: none;
        }

        .d {
            text-align: right;
        }
    </style>
</head>
<body>
<div class="d" th:fragment="logout">
    <a href="/store/admin">
        <button  class="btn" th:if="${#authentication.authorities[0].authority eq 'ADMIN'}" type="button">Кабинет админа</button>
    </a>
    <a href="/store/basket">
        <button class="btn" type="button">Корзина</button>
    </a>
    <form action="/logout" method="post">
        <button class="btn" type="submit">Выход</button>
    </form>
</div>
</body>
</html>