<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style th:fragment="logout">
        .btn {
            background: dodgerblue;
            color: white;
            padding: 5px 16px;
            border: 0px transparent;
            margin-bottom: 1em;
        }

        a {
            text-decoration: none;
        }

        .d {
            text-align: right;
        }
    </style>
</head>
<body>
<div class="d" th:fragment="logout">
    <a href="/store/admin">
        <button  class="btn" th:if="${#authentication.authorities[0].authority eq 'ADMIN'}"
                 type="button"><span th:text="#{logout.admin}">Admin page</span></button>
    </a>
    <a href="/store/account">
        <button class="btn" type="button"><span th:text="#{logout.account}">Account</span></button>
    </a>
    <a href="/store/order">
        <button class="btn" type="button"><span th:text="#{logout.orders}">Orders</span></button>
    </a>
    <a href="/store/basket">
        <button class="btn" type="button"><span th:text="#{logout.basket}">Basket</span></button>
    </a>
    <form action="/logout" method="post">
        <button class="btn" type="submit"><span th:text="#{logout.exit}">Logout</span></button>
    </form>
</div>

<div th:fragment="locale">
    <form action="">
        <button name="lang" type="submit" value="en">EN</button>
        <button name="lang" type="submit" value="ru">RU</button>
    </form>
</div>
</body>
</html>