<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style th:fragment="start">
        .sr
        {
            font-size: 30px;
            border-radius: 20px;
        }

        .wh{
            background: linear-gradient(to right, white, grey);
            padding: 10px;
        }
    </style>
</head>
<body>
<div th:fragment="start">
<form class="wh" action="/store/search">
    <a href="/store">
        <img src="https://freelance.ru/img/portfolio/pics/00/1C/17/1840940.jpg" alt="" height="100" width="200">
    </a>
    <input th:placeholder="|&#128269;#{start.search}|" class="sr"  id="search" type="search" name="search"/>
</form>
</div>
</body>
</html>